* {
    margin: 0;
    padding: 0;
    }

/*  PASSO 01 

body {
    #383D58
    }

*/

/*  PASSO 02 FONTE PRETA
body {
    background-color: #383D58;
    }

*/

/*  PASSO 3 FONTE BRANCA  */
    body {
        background-color: #383D58;
        color: white;
        }

    /* PASSO 4  */  

    header {
        background-color: #383D58;
        color: white;
        }

    /*   PASSO 5 LOGO IMAGEM    */ 
    .cabecalho-imagem{

        width: 20%;

    }

    

    .cabecalho {
    background-color: #383D58;
    color: white;
    display:flex;
    justify-content: space-around;
    padding: 24px 0;

    }

    .cabecalho-lista-item{
        display: inline-block;
        margin: 0 16px;
        padding: 24px 0;
        font-size: 24px;
        }


    .escola-imagem{
        width:25%;
        }

    .escola {
        background-image: linear-gradient(#383D58,#00c0eb); 
        color: white;
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
            }



    .escola-conteudo{
        width: 35%;
            }

    .escola-titulo {
    padding: 24px 0;
            }